<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.librariesmanager.model.service.LibrariesService"
            serviceId="ILibrariesService"/>
      <Service
            class="org.talend.librariesmanager.model.service.RoutinesProviderService"
            serviceId="IRoutinesService">
      </Service>
      <Service
            class="org.talend.librariesmanager.model.service.LocalLibraryManager"
            serviceId="ILibraryManagerService">
      </Service>
   </extension>
  
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.librariesmanager.emf.librariesindex.LibrariesindexPackage"
            genModel="model/librariesindex.genmodel"
            uri="www.talend.com/librariesindex">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated librariesindex -->
      <parser
            type="librariesindex"
            class="org.talend.librariesmanager.emf.librariesindex.util.LibrariesindexResourceFactoryImpl"/>
   </extension>
   <extension
        point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.librariesmanager"
              id="slf4j-api-1.7.25.jar"
              mvn_uri="mvn:org.slf4j/slf4j-api/1.7.25"
              name="slf4j-api-1.7.25.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.librariesmanager"
              id="crypto-utils-0.31.10.jar"
              mvn_uri="mvn:org.talend.daikon/crypto-utils/0.31.10"
              name="crypto-utils-0.31.10.jar"
              required="true">
      </libraryNeeded>
   </extension>
   <extension
         point="org.talend.core.systemRoutineLibrary">
      <systemRoutine
            name="SharedDBConnectionLog4j">
         <library
               name="slf4j-api-1.7.25.jar">
         </library>
      </systemRoutine>
      <systemRoutine
            name="PasswordEncryptUtil">
         <library
               name="crypto-utils-0.31.10.jar">
         </library>
      </systemRoutine>
   </extension>
   <extension
         point="org.talend.core.runtime.artifact_handler">
      <handler
            class="org.talend.librariesmanager.nexus.Nexus2RepositoryHandler"
            type="NEXUS_2">
      </handler>
      <handler
            class="org.talend.librariesmanager.nexus.Nexus3RepositoryHandler"
            type="NEXUS_3">
      </handler>
      <handler
            class="org.talend.librariesmanager.nexus.ArtifacoryRepositoryHandler"
            type="ARTIFACTORY">
      </handler>
   </extension>
</plugin>
