<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
      <extension
         point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              id="commons-digester-2.1.jar"
              mvn_uri="mvn:commons-digester/commons-digester/2.1"
              name="commons-digester-2.1.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              id="commons-math3-3.3.jar"
              mvn_uri="mvn:org.talend.libraries/commons-math3-3.3/6.0.0"
              name="commons-math3-3.3.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              id="commons-validator-1.5.1.jar"
              mvn_uri="mvn:commons-validator/commons-validator/1.5.1"
              name="commons-validator-1.5.1.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              id="commons-pool2-2.4.2.jar"
              mvn_uri="mvn:org.talend.libraries/commons-pool2-2.4.2/6.0.0"
              name="commons-pool2-2.4.2.jar"
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-1.5.3.jar" mvn_uri="mvn:org.talend.libraries/asm-1.5.3/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-2.2/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.1.jar" mvn_uri="mvn:org.talend.libraries/asm-3.1/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.2.jar" mvn_uri="mvn:org.talend.libraries/asm-3.2/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.3.jar" mvn_uri="mvn:org.talend.libraries/asm-3.3/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-3.3.1.jar" mvn_uri="mvn:org.talend.libraries/asm-3.3.1/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-analysis-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-analysis-2.2/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-attrs-1.5.3.jar" mvn_uri="mvn:org.talend.libraries/asm-attrs-1.5.3/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-attrs-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-attrs-2.2/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-tree-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-tree-2.2/6.0.0" 
              required="false">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for ASM Component"
              name="asm-util-2.2.jar" mvn_uri="mvn:org.talend.libraries/asm-util-2.2/6.0.0" 
              required="false">
      </libraryNeeded>
      
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-beanutils-core-1.8.0.jar" mvn_uri="mvn:org.talend.libraries/commons-beanutils-core-1.8.0/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-cli-1.1.jar" mvn_uri="mvn:org.talend.libraries/commons-cli-1.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-cli-1.2.jar" mvn_uri="mvn:commons-cli/commons-cli/1.2" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-codec-1.4.jar" mvn_uri="mvn:commons-codec/commons-codec/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-codec-1.5.jar" mvn_uri="mvn:org.talend.libraries/commons-codec-1.5/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-codec-1.6.jar" mvn_uri="mvn:org.talend.libraries/commons-codec-1.5/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-codec-1.7.jar" mvn_uri="mvn:org.talend.libraries/commons-codec-1.7/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-collections-2.1.1.jar" mvn_uri="mvn:org.talend.libraries/commons-collections-2.1.1/6.0.0" 
              required="true">
      </libraryNeeded>   
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-collections-3.1.jar" mvn_uri="mvn:org.talend.libraries/commons-collections-2.1.1/6.0.0" 
              required="true">
      </libraryNeeded> 
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-collections-3.2.2.jar" mvn_uri="mvn:commons-collections/commons-collections/3.2.2" 
              required="true">
      </libraryNeeded> 
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-compress-1.10.jar" mvn_uri="mvn:commons-collections/commons-collections/3.2.2" 
              required="true">
      </libraryNeeded> 
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-compress-1.6.jar" mvn_uri="mvn:org.talend.libraries/commons-compress-1.6/6.0.0" 
              required="true">
      </libraryNeeded> 
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-dbcp-1.2.1.jar" mvn_uri="mvn:org.talend.libraries/commons-dbcp-1.2.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-dbcp-1.4.jar" mvn_uri="mvn:commons-dbcp/commons-dbcp/1.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-digester-1.7.jar" mvn_uri="mvn:org.talend.libraries/commons-digester-1.7/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-digester-2.1.jar" mvn_uri="mvn:org.talend.libraries/commons-digester-2.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-discovery-0.2.jar" mvn_uri="mvn:org.talend.libraries/commons-discovery-0.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-io-2.1.jar" mvn_uri="mvn:org.talend.libraries/commons-io-2.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-io-2.4.jar" mvn_uri="mvn:commons-io/commons-io/2.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-lang-2.4.jar" mvn_uri="mvn:org.talend.libraries/commons-lang-2.4/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-lang-2.5.jar" mvn_uri="mvn:org.talend.libraries/commons-lang-2.5/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-lang-2.6.jar" mvn_uri="commons-lang/commons-lang/2.6" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-lang3-3.0.jar" mvn_uri="mvn:org.talend.libraries/commons-lang3-3.0/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-lang3-3.3.2.jar" mvn_uri="mvn:org.talend.libraries/commons-lang3-3.3.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-logging-1.1.3.jar" mvn_uri="mvn:commons-logging/commons-logging/1.1.3" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-logging-1.1.jar" mvn_uri="mvn:org.talend.libraries/commons-logging-1.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-logging-api-1.0.4.jar" mvn_uri="mvn:org.talend.libraries/commons-logging-api-1.0.4/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-math-1.0.jar" mvn_uri="mvn:org.talend.libraries/commons-math-1.0/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-math3-3.3.jar" mvn_uri="mvn:org.talend.libraries/commons-math3-3.3/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-pool-1.2.jar" mvn_uri="mvn:org.talend.libraries/commons-pool-1.2/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-pool-1.5.1.jar" mvn_uri="mvn:org.talend.libraries/commons-pool-1.5.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-pool-1.5.4.jar" mvn_uri="mvn:commons-pool/commons-pool/1.5.4" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-pool-1.6.jar" mvn_uri="mvn:commons-pool/commons-pool/1.6" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-pool2-2.4.2.jar" mvn_uri="mvn:org.apache.commons/commons-pool2/2.4.2" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-validator-1.5.1.jar" mvn_uri="mvn:org.talend.libraries/commons-validator-1.5.1/6.0.0" 
              required="true">
      </libraryNeeded>
      <libraryNeeded
              context="plugin:org.talend.libraries.apache.common"
              language="java"
              message="Needed for apache.common"
              name="commons-vfs.jar" mvn_uri="mvn:org.talend.libraries/commons-vfs/6.0.0" 
              required="true">
      </libraryNeeded>
    </extension>
</plugin>
